html, body, #app {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: var(--surface-a);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--surface-b);
}

.las {
  font-size: 1.5em;
}

a {
  text-decoration:none
}

span.spacer {
  width: 8px;
}
